In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("user_orders.csv")

In [10]:
df.head(10)

,User Number and FbMessengerID,Order Placed,Order_Time
0,200000000.0,"Fried Rice and Portion of Pork, Fried Rice and...",2020-11-23 11:09:11 - Morning
1,200000000.0,"Jollof, Jollof, Portion, Small",2020-11-16 10:54:03 - Morning
2,200000000.0,"Chicken Delight (No Pork), Tomato sauce, chees...",2020-11-16 21:41:19 - Evening
3,200000000.0,"Meateater, Tomatoes sauce, cheese, chorizo, ha...",2020-11-17 11:21:49 - Morning
4,200000000.0,"Opana, Red sauce, cheese, chorizo, sausage, ha...",2020-11-17 12:51:10 - Morning
5,200000000.0,"Lovers Rock (No Pork), Tomato sauce, cheese, b...",2020-11-18 13:21:22 - Afternoon
6,200199695.0,"Fully Loaded, BBQ steak, spicy beef sausage, b...",2021-01-09 22:01:18 - Evening
7,200921635.0,"Peri Peri chicken, Spicy peri, peri chicken, c...",2020-12-25 20:25:42 - Evening
8,203011533.0,"Beef Sausage, Buy 1 get 1 free pizza from this...",2021-02-16 12:50:16 - Morning
9,203051353.0,"Peri Peri chicken, Spicy peri, peri chicken, c...",2021-01-15 11:57:06 - Morning

In [15]:
numpy_data = df.to_numpy()

In [30]:
sample_data = numpy_data[0:10]

In [54]:
 # order_food_dict = {uniq: [[order, time], [order, time],   [order, time], [order, time]],   uniq2: [[order, time], [order, time],   [order, time], [order, time]]}

order_food_dict = {}
for sample in sample_data:
    #print(f"Key - {sample[0]}     Value - {' '.join([a for a in sample[1].split()[0:-1]])} {sample[2]}")
    #print("\n")
    key = sample[0]
    values = sample[1:]
    # check if the key is in the dictionary
    if order_food_dict.get(key) is not None:
         #   - get the value for that key
        existing_values = order_food_dict.get(key)
        # append new value to existing values
        existing_values.append(values)
        order_food_dict[key] = existing_values
        pass
    else:
        # create new values array
        new_values = []
        new_values.append(values)
        order_food_dict[key] = new_values
    
   
    pass

In [64]:
customer_orders = order_food_dict.get(200000000.0)

In [67]:
len(customer_orders)

6

In [90]:
WINDOW_SIZE = 1
ORDER_SIZE = 3

dummy_data = [["Order 1", "Time 1"], ["Order 2", "Time 2"], ["Order 3", "Time 3"], ["Order 4", "Time 4"], ["Order 5", "Time 5"]]
new_dummy_data = []
for j in range(len(dummy_data)):
    curr = dummy_data[j]
    if j + 1 < len(dummy_data):
        curr.append(dummy_data[j+1][1])
        pass
    else:
        curr.append("FUT")    
    new_dummy_data.append(curr)

In [91]:
new_dummy_data

[['Order 1', 'Time 1', 'Time 2'],
 ['Order 2', 'Time 2', 'Time 3'],
 ['Order 3', 'Time 3', 'Time 4'],
 ['Order 4', 'Time 4', 'Time 5'],
 ['Order 5', 'Time 5', 'FUT']]

In [92]:
for i in range(0, len(new_dummy_data)):
    if i + ORDER_SIZE < len(new_dummy_data):
        print(f"Inputs -> {new_dummy_data[i : i+ORDER_SIZE]} ::::::: Output -> {new_dummy_data[i+ORDER_SIZE][0]}")

Inputs -> [['Order 1', 'Time 1', 'Time 2'], ['Order 2', 'Time 2', 'Time 3'], ['Order 3', 'Time 3', 'Time 4']] ::::::: Output -> Order 4
Inputs -> [['Order 2', 'Time 2', 'Time 3'], ['Order 3', 'Time 3', 'Time 4'], ['Order 4', 'Time 4', 'Time 5']] ::::::: Output -> Order 5